
span{
    color:#923792;
    margin-left: 8rem;
}

img{
    width:16rem;
    height:16rem;
    float: right;
    margin-top: -6rem;
    margin-right: 34rem;
}
.first{
margin-top: 3rem;
margin-left: 3rem;
font-style: Poppins;
}

h2{
    margin-left: 1rem;
    font-style: Poppins;

}

