<div class="first">
  <h1><span>Contact Our</span>
  </h1>
  <h1>Customer Support Center</h1>
</div>
<div class="second">
  <img src="assets/i1.jpg">
</div>

<div class = "container-fluid">
<h2>Please fill out your information</h2>
  <form [formGroup] = "MarvellousForm">

  <div class="form-group">
  <label> Name* </label>
  <input [style.width.rem]="15"   type="text"   class="form-control"   formControlName="username">
</div>

  <div>
    <label>Last Name* </label>
    <input  [style.width.rem]="15"   type="text" class="form-control" formControlName="lastname">
  </div>
  


  <div class="form-group" id="one">
    <label>Email*</label>
    <input [style.width.rem]="75" type="text" class="form-control" formControlName="email">
  </div>

 <div class="form-group">
    <label> Phone* </label>
    <input  [style.width.rem]="75"  type="text" class="form-control" formControlName="phone">
 </div>

 <div class="form-group" >
  <label> Address* </label>
  <input  [style.width.rem]="75"  type="text" class="form-control" formControlName="address">
</div>
  
<br>
  <button type="submit" class="btn btn-primary">SUBMIT FORM</button>
</form>

</div>