<div class="first">
  <h1><span>Contact Our</span>
  </h1>
  <h1>Customer Support Center</h1>
</div>
<div class="second">
  <img src="assets/i1.jpg">
</div>

<div class = "container-fluid">
<h2>Please fill out your information</h2>
  <form [formGroup] = "MarvellousForm">

  <div class="form-group">
  <label> Name* </label>
  <input [style.width.rem]="15" 
         [class.is-invalid]="MarvellousForm.get('username')?.invalid && MarvellousForm.get('username')?.touched" 
         type="text" 
         class="form-control" 
         formControlName="username">
  <small [class.d-none]="MarvellousForm.get('username')?.valid || MarvellousForm.get('username')?.untouched" class="text-danger">Name is required </small>
</div>

  <div>
    <label>Last Name* </label>
    <input  [style.width.rem]="15" [class.is-invalid] = "MarvellousForm.get('lastname')?.invalid && MarvellousForm.get('lastname')?.touched"  type="text" class="form-control" formControlName="lastname">
    <small [class.d-none]="MarvellousForm.get('lastname')?.valid  || MarvellousForm.get('lastname')?.untouched" class="text-danger">Last Name is required </small>
  </div>
  


  <div class="form-group" id="one">
    <label>Email*</label>
    <input [style.width.rem]="75" [class.is-invalid]="MarvellousForm.get('email')?.invalid && MarvellousForm.get('email')?.touched" type="text" class="form-control" formControlName="email">
    <small [class.d-none]="MarvellousForm.get('email')?.valid || MarvellousForm.get('email')?.untouched" >Email address required</small>
  </div>

 <div class="form-group">
    <label> Phone* </label>
    <input  [style.width.rem]="75"  [class.is-invalid] = "MarvellousForm.get('phone')?.invalid && MarvellousForm.get('phone')?.touched" type="text" class="form-control" formControlName="phone">
    <small [class.d-none]="MarvellousForm.get('phone')?.valid  || MarvellousForm.get('phone')?.untouched" class="text-danger">phone no. is required </small>
 </div>

 <div class="form-group" >
  <label> Address* </label>
  <input  [style.width.rem]="75" [class.is-invalid] = "MarvellousForm.get('address')?.invalid && MarvellousForm.get('address')?.touched" type="text" class="form-control" formControlName="address">
  <small [class.d-none]="MarvellousForm.get('address')?.valid || MarvellousForm.get('address')?.untouched" class="text-danger">Address is required </small>
</div>
  
<div class="form-group" id="one">
  <label> city* </label>
  <input  [style.width.rem]="75" [class.is-invalid] = "MarvellousForm.get('city')?.invalid && MarvellousForm.get('city')?.touched" type="text" class="form-control" formControlName="city">
  <small [class.d-none]="MarvellousForm.get('city')?.valid || MarvellousForm.get('city')?.untouched" class="text-danger">City is required </small>
</div>

<div class="form-group" id="one">
  <label> State* </label>
  <input  [style.width.rem]="75" [class.is-invalid] = "MarvellousForm.get('state')?.invalid && MarvellousForm.get('state')?.touched" type="text" class="form-control" formControlName="state">
  <small [class.d-none]="MarvellousForm.get('state')?.valid || MarvellousForm.get('state')?.untouched" class="text-danger">State is required</small>
</div>

<div class="form-group" id="one">
  <label> Zip Code* </label>
  <input  [style.width.rem]="75" [class.is-invalid] = "MarvellousForm.get('zipcode')?.invalid && MarvellousForm.get('zipcode')?.touched" type="text" class="form-control" formControlName="zipcode">
  <small [class.d-none]="MarvellousForm.get('zipcode')?.valid || MarvellousForm.get('zipcode')?.untouched" class="text-danger">Zip code is required</small>
</div>
  <button type="submit" class="btn btn-primary">SUBMIT FORM</button>
</form>

</div>